.lorem {
  padding: 0, 18px;
  background-color: blueviolet;
  display: none;
  overflow: hidden;
}

.acordion {
  background: gray;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  font-size: 15px;
  text-transform: capitalize;
  text-align: left;
  transition: 0.45s;
}

.active,
.acordion:hover {
  background-color: white;
}


html {
  height: 100%;
  margin: 0;
}

.btn {
  background: gray;
  color: white;
  float: left;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 14px 16px;
  font-size: 17px;
  width: 22%;
}

.tabcontent {
  color: white;
  padding: 100px 20px;
  display: none;
  height: 100%;
}

.btn:hover {
  background: rgb(236, 112, 112);
}

#london { 
  background: red;

}

#paris {
  background: blue;
}

#uk {
  background: blueviolet;
}

#nigeria {
  background: brown;
}